<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/body.css">
    <link rel="stylesheet" href="./style/content.css">
  </head>
  <body>

    <header>
      <%- include('./partials/header.ejs')  %>
    </header>
    <div class="navWrapper">
      <nav>
        <%- include('./partials/nav.ejs')  %>
      </nav>
      <main>
        <%- body %>
      </main>
    </div>
    <footer>

    </footer>

  </body>
</html>
