
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/setup">Setup</a></li>
    <li><a href="/content">Content</a></li>
    <li><a href="/styling">Style</a></li>

    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
